* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


header {
    background-color: white;
    padding: 13px 10px;
    width: 100%;
    border-bottom: #C94368;
    border-bottom-style: solid;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: 0.4s;
}
header ul {
    display: flex;
    align-items: center;

}

#logo-header {
    color: #C94368;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 200px;
    list-style: none;
    font-style: italic;
}
.header-options {
    font-size: 18px;
    padding: 30px;    
    margin-top: 10px;
    list-style: none;
    
}

.header-options:hover {
    color: #C94368;

}
#box {
    background-image: url(bolo-principal.jpeg);
    background-size: cover;
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}
#box-txt {
    color:#ffffff;
    margin-left: 400px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    width: 700px;
    margin-top: 30px;
    
}

.caixa {
    background-color: white;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    box-sizing: border-box;
    margin-left: 30px;
    position: relative;
    animation: appear 2s forwards;
    opacity: 0;
}


#produtos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#bolos {
    background-image: url(bolo-box.jpeg);
    background-size: cover;
}
#bolos h2 {
    margin-top: 45%;
    margin-left: 35%;
    color: white;
    font-size: 35px;
}
#doces {
    background-image: url(WhatsApp\ Image\ 2023-02-15\ at\ 16.14.05.jpeg);
    background-size: cover;
}
#ovos {
    background-image: url(WhatsApp\ Image\ 2023-02-15\ at\ 16.18.12.jpeg);
    background-size: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    color: #ffffff;
}
.overlay:hover {
    opacity: 0.7;
}
.txt-caixa {
    margin-top: 45%;
    margin-left: 35%;
}
#ovo {
    margin-left: 38%;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}

.caixa:nth-child(2) {
    animation-delay: 0.5s;
}
.caixa:nth-child(3) {
    animation-delay: 0.8s;
}
#welcome {
    color: #ffffff;
    margin-left: 380px;
    margin-top: 130px;
    font-size: 45px;
}

#box2 {
    height: 450px;
    width: 100%;
    margin-top: 50px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
}
#title-exper {
    margin-top: 100px;
    margin-left: 150px;
}
#img-box2 {
    width: 350px;
    height: 350px;
    margin-left: 350px;
    margin-top: 30px;
    border-radius: 500px;
    animation: kkk 2s;
}
#desc-box2 {
    margin-top: 30px;
    width: 450px;
    margin-left: 150px;
}
.btn-box2 {
    justify-content: center;
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
    padding: 20px 80px;
    border: 1px solid #C94368;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    background-color: #ffffff;
}
.btn-box2:hover {
    background-color: #C94368;
    color: white;
    transform: translatey(-5px);
}
#txt-box2 {
    animation: caixa 2s;
}
@keyframes caixa {
    0% {
        opacity: 0;
        transform: translatex(200px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes kkk {
    0% {
        opacity: 0;
        transform: translatex(-200px);
    }
    100% {
        opacity: 1;
    }
}
footer {
    background-color: #C94368;
    width: 100%;
    height: 280px;
    text-align: center;
    overflow: hidden;
    color: white;
}
.icon {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 8px;
}

#icons {
    text-align: center;
    
}
#fale {
    margin-top: 40px;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
.footer-list {
    
    width: 80px;
    height: 18x;
    border-right-style: solid;
    border-width: 1px;
}
#footer-list-produto {
    margin-left: 10px;
}
footer h5 {
    margin-top: 30px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #C94368;
}
.zap-zap {
    height: 80px;
    position: fixed;
    position: fixed;
    bottom: 30px;
    z-index: 15;
    display: flex;
    align-items: center;
    right: 30px;
}
section {
    height: 70px;
    position: fixed;
    position: fixed;
    bottom: 35px;
    z-index: 15;
    display: flex;
    align-items: center;
    right: 120px;
    color: white;
    background-color: #5dfa7a;
    width: 200px;
    font-size: 10px;
    border-radius: 10px;
}
section h1 {
    margin-left: 8px;
}
#header-links {
    display: flex;
    margin-left: 180px;
}

@media screen and (max-width: 412px)  {
    header ul {
        text-align: center; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .b {
        margin-left: 0;
    }
    #logo-header {
        margin-left: 0;
    }
    .header-options {
        padding: 0;
        margin: 20px;
        font-size: 15px;
    }
    #welcome {
        margin-left: 0;
        margin-top: 150px;
        font-size: 40px;
        text-align: center; 
        display: flex;
        justify-content: center;
    }
    #box-txt {
        font-size: 37px;
        margin-left: 10px;
        width: 100%;
  
    }
    #produtos {
        display: flex;
        flex-direction: column;
    }
    .caixa {
        width: 100%px;
    }
    #header-links {
        display: flex;
        margin-left: 0;
    }
    #box2 {
        margin-left: 0;
        flex-direction: column;
        margin-top: 0;
        height: 700px;
    }
    #img-box2 {
        margin-left: 52px;
        width: 300px;
        height: 300px;
        text-align: center;
    }
    #desc-box2 {
        margin-left: 0;
        margin-top: 10px;
        width: 380px;
        margin-left: 20px;
        text-align: center;
    }
    #txt-box2 {
        margin: 0;
    }
    #title-exper {
        margin: 0;
        margin-top: 20px;
        margin-left: 80px;
    }
    .btn-box2 {
        margin-left: 22%;
    }
    section {
        display: none;
    }
}
